<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Business Frontpage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="stylesheets/business-frontpage.css" rel="stylesheet">
    
    <link href="stylesheets/custom.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<div class="logo">
                
                    
                    <%= image_tag('logo.PNG') %>
                </div>
    <!-- Navigation -->
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Portfolio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">eBay Store Design <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://www.kidzlane.com">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
          
        </li>
        
      </ul>
      
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>eBay Store And Template Design</h2><br>
                <p>Promote your store with a proffessional eBay store design, dominate the market today! A roffessional design will provide you with the edge you need to promote your brand and sales. We offer the most competitive optimized proffessional design on eBay.</p><br><br>
                <STYLE> .btn-default {
                    color: #333;
                    background-color: #d3b170
                }
                
                </STYLE>
                    <a class="btn btn-default btn-lg" href="#">Request a Quote &raquo;</a>
                </p><br><br>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Savvychannels</strong>
                    <br>31532 West 4th st
                    <br>Brooklyn, NY 11223
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr>(347) 456-7890
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">info@savvychannels.com</a>
                </address>
            </div>
        </div>
        

      
      <div class="row">
<div class="col-lg-4 col-sm-6">
<div class="thumbnail">
<%= image_tag('SG.PNG', size: "200x120",) %><div class="caption">
        <h3>eBay Storefront</h3>
        <p><a href="#" class="btn btn-primary" role="button">preview</a> 
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="thumbnail">
<%= image_tag('SG.PNG', size: "200x120",) %>
<div class="caption">
        <h3>eBay Storefront</h3>
        <p><a href="#" class="btn btn-primary" role="button">preview</a> 
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6">
<div class="thumbnail">
<%= image_tag('SG.PNG', size: "200x120") %>
<div class="caption">
        <h3>eBay Storefront</h3>
        <p><a href="#" class="btn btn-primary" role="button">preview</a> 
</div>
</div>
</div>
</div>
</div>
  
      
    </div>
  </div>
</div>
      
    </div>
  </div>
</div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Business Insighter 2017</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
