<div class="center jumbotron">


<h2 align="center">ALPHA BLOG</h2>

<%= link_to "Alpha Blog", articles_path %>

</div>




<div class="row">

<div class="col-xs-8 col-xs-offset-2">

<div class="well well-lg">

<div class="article-title">


</div>

</div>

</div>
</div>



                    