/*.navbar-nav {*/
/*    float:none;*/
/*    margin:0 auto;*/
/*    display: block;*/
/*    text-align: center;*/
/*}*/

/*.navbar-nav > li {*/
/*    display: inline-block;*/
/*    float:none;*/
/*}*/

/* .navbar  {*/
/*      white-space: nowrap;*/
/*      width:100%;*/
/*} */

/*.logo {*/
    
/*    margin-top: -45px;*/
/*    margin-left: 25px;*/
    
/*}*/

